<form [formGroup]="formSearch" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <div class="input-group-prepend">
      <select
        formControlName="category"
        class="form-control text-capitalize border-radious-none"
      >
        <option [ngValue]="null" disabled>Categorias</option>
        <option value="science">science</option>
        <option value="education">education</option>
        <option value="people">people</option>
        <option value="feelings">feelings</option>
        <option value="computer">computer</option>
        <option value="buildings">buildings</option>
      </select>
    </div>

    <input
      class="form-control"
      type="search"
      placeholder="Busqueda..."
      aria-label="Search"
      formControlName="q"
      #searchInput
    />

    <div class="input-group-append">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="formSearch.invalid"
      >
        Buscar
      </button>
    </div>
  </div>
</form>
